    <form action="simpanuser" method="post">
        <p><input type="text" name="fullname" id="">Nama Lengkap</p>
        <p><input type="text" name="username" id="">Nama user</p>
        <p><input type="password" name="password" id="">Password</p>
        <p><input type="submit" values="SignUP"></p>
    </form>
